<!DOCTYPE html>
<html>
  <head>
    <title><%= titlebar %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>¡Bienvenido a <%= title %>!</p>
	<p>El juego de las <b>preguntas</b>, donde podrá crear sus propios juegos y preguntas.</p>
	<p>Empezar con el juego Quiz<p>
  </body>
</html>
