    	<html>
    	<head>
    		<title><%=title%></title>
    		<link ref="stylesheet" href="stylesheets/style.css"/>
    	</head>
    	<body>
    		<p>¡Bienvenido a <%= title %>!</p>
		<p>El juego de las <b>preguntas</b>, donde podrá crear sus propios juegos y preguntas.</p>
		<p>Empezar con el juego Quiz<p>
	</body>
	</html>
