<!DOCTYPE html>
<html>
  <head>
    <title><%= titlebar %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <div id="pagina-wrap">
	<header class="main" id="h1">
		<%= title %>
	</header>    
	<nav class="main" id="n1" role="navigation">
		<span><a href="/">Inicioi</a></span>
		<span><a href="/quizes/question">Preguntas</a></span>
	</nav>
	<section class="main" id="s1" >
		<%=body%>
	</section>
	<footer class="main" id="f1">
		<a href="http://es.wikipedia.org/wiki/quiz">¿Qué es un Quiz?</a>
	</footer>
	</div>
  </body>
</html>