
<p>Autor: Ricardo de la Concepción Leal - Rconleau@gmail.com</p>
<p align="cemter"><img src="http://m.c.lnkd.licdn.com/mpr/pub/image-ui8198hi4Oi1yVhCtkCFQKqL-9Xx-_Wd7x8inMhzeLBxD0brAi8i2o2Q4LrwIrBKbB/ricardo-de-la-concepci%C3%B3n-leal.jpg" alt="Ricardo de la Concepción Leal"></p>
